<main>
    <section class="row" aria-labelledby="pizzeriaTitle">
        <h1 id="pizzeriaTitle">Benvenuti alla Pizzeria</h1>
        <p class="lead">La nostra pizzeria offre una vasta selezione di deliziose pizze fatte in casa, gustose pietanze italiane e molto altro ancora.</p>
        <p><a href="@Url.Action("Menu", "Menu")" class="btn btn-primary btn-md">Esplora il menu &raquo;</a></p>
    </section>
    <div class="row">
        <section class="col-md-4" aria-labelledby="pizzaTitle">
            <h2 id="pizzaTitle">Le nostre pizze</h2>
            <p>Scopri la nostra varietà di pizze cotte in forno a legna, preparate con ingredienti freschi e di alta qualità.</p>
            <p><a class="btn btn-outline-dark" href="@Url.Action("Menu", "Menu")">Visualizza il menu &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="deliveryTitle">
            <h2 id="deliveryTitle">Consegna Veloce</h2>
            <p>Goditi i nostri deliziosi piatti direttamente a casa tua con la nostra consegna veloce e affidabile.</p>
            <p><a class="btn btn-outline-dark" href="@Url.Action("Ordine", "Ordine")">Prenota ora &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="orderTitle">
            <h2 id="orderTitle">Registrati o Accedi</h2>
            <p>Per poter effettuare un ordine, è necessario essere registrati e autenticati.</p>
            <p>
                <a class="btn btn-outline-dark" href="@Url.Action("Registrati", "Login")">Registrati &raquo;</a>
                <a class="btn btn-outline-dark" href="@Url.Action("Login", "Login")">Accedi &raquo;</a>
            </p>
        </section>
    </div>
</main>
